.Form {
  width: inherit;
  margin: auto;
  text-align: center;

  &-title {
    margin: 1rem auto;
    text-align: center;
    color: $dark;
  }

  &-element {
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    border: medium solid $light;
    border-radius: .5rem;

    & label { cursor: pointer; }

    & input,
    & textarea,
    & select {
      margin-left: 1rem;
      flex-grow: 1;
      font-size: 1rem;
      font-family: $font;
      border: 0;
      outline: 0;
      resize: none;
      background-color: transparent;

      &[type="submit"] {
        cursor: pointer;
        color: #FFF;
        background-color: inherit;
        transition: all .3s ease-out;

        &:hover { opacity: .75; }
      }

      &[type="checkbox"] {
        flex-grow: 0;
      }
    }
  }

  &-message {
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    font-style: italic;
    text-align: left;
    color: $medium;
  }
}

.fileContainer {
  overflow: hidden;
  position: relative;
  color: #000;
}

.fileContainer {
  margin-left: 1rem;
  background-color: $light;
  border-radius: .5rem;
  font-weight: bold;
  float: left;
  padding: .5rem 1rem;

  & [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }

  & [type=file] {
    cursor: pointer;
  }
}


.select2-container--default,
.select2-selection--multiple {
  background-color: transparent !important;
  border: none !important;
}

